<h1 class='text-center'><%= t("contact_header") %>!</h1>
<p class='text-center'><%= t("contact_message_html") %></p>
<%= form_for @message, url: messages_path, remote: true do |f| %>
  <div class="col-md-12">
    <%= f.label t("name") %>
    <%= f.text_field  :name, required: true %>
    <%= f.label :email %>
    <%= f.text_field :email, required: true %>
    <%= f.label :message %>
    <%= f.text_area :message, rows: 8, cols: 40, required: true,
                        placeholder: t("send_me_a_message")%>
    <div class= "d-none">
      <%= f.label :nickname %>
      <%= f.text_field :nickname %>
    </div>
    <%= f.submit t('send_message'), class: 'btn btn-primary' %>
  </div>
<% end %>
<div class="col-md-6" id="flash-message">
  <%= render 'shared/flash' %>
</div>
