<% if number_of_nights(booking.start_date, booking.end_date) > 7%>
  <div class="row">
    <%= render "./payments/discounts"%>
    <div class= "col-12 col-lg-6">
      <h3 class='text-center'>Details</h3>

      <p class='text-center'>4 <%= t("nights") %>: <%= price_of_stay(booking.room.price, 4) %></p>
      <p class='text-center'>5<%= t("th")%>-6<%= t("th")%> <%= t("nights") %>: <%= price_of_stay(booking.room.price, 6) - price_of_stay(booking.room.price, 4) %>€</p>
      <p class='text-center'>7<%= t("th")%> <%= t("nights") %>: <%= price_of_stay(booking.room.price, 7) - price_of_stay(booking.room.price, 6) %>€</p>
      <p class='text-center'><%= t("after_7_nights") %>: <%= number_of_nights(booking.start_date, booking.end_date) - 7 %> * <%= price_of_stay(booking.room.price, 8) - price_of_stay(booking.room.price, 7) %>€ = <%= price_of_stay(booking.room.price, number_of_nights(booking.start_date, booking.end_date)) - price_of_stay(booking.room.price, 7) %>€</p>
    </div>
  </div>

<% elsif number_of_nights(booking.start_date, booking.end_date) == 7 %>
  <div class="row">
    <%= render "./payments/discounts"%>
    <div class= "col-12 col-lg-6">
      <h3 class='text-center'>Details</h3>
      <p class='text-center'>4 <%= t("nights") %>: <%= price_of_stay(booking.room.price, 4) %></p>
      <p class='text-center'>5<%= t("th")%>-6<%= t("th")%> <%= t("nights") %>: <%= price_of_stay(booking.room.price, 6) - price_of_stay(booking.room.price, 4) %>€</p>
      <p class='text-center'>7<%= t("th")%> <%= t("night") %>: <%= price_of_stay(booking.room.price, 7) - price_of_stay(booking.room.price, 6) %>€</p>
    </div>
  </div>

<% elsif number_of_nights(booking.start_date, booking.end_date) == 6 %>
  <div class="row">
    <%= render "./payments/discounts"%>
    <div class= "col-12 col-lg-6">
      <h3 class='text-center'>Details</h3>
      <p class='text-center'>4 <%= t("nights") %>: <%= price_of_stay(booking.room.price, 4) %></p>
      <% nights = number_of_nights(booking.start_date, booking.end_date) %>
      <p class='text-center'>5<%= t("th")%>-6<%= t("th")%> <%= t("nights") %>: <%= price_of_stay(booking.room.price, nights) - price_of_stay(booking.room.price, 4) %>€</p>
    </div>
  </div>

<% elsif number_of_nights(booking.start_date, booking.end_date) == 5 %>
<div class="row">
  <%= render "./payments/discounts"%>
  <div class= "col-12 col-lg-6">
    <h3 class='text-center'>Details</h3>
    <p class='text-center'>4 <%= t("nights") %>: <%= price_of_stay(booking.room.price, 4) %></p>
    <% nights = number_of_nights(booking.start_date, booking.end_date) %>
    <p class='text-center'>5<%= t("th")%> <%= t("night") %>: <%= price_of_stay(booking.room.price, nights) - price_of_stay(booking.room.price, 4) %>€</p>
  </div>
</div>

<% elsif number_of_nights(booking.start_date, booking.end_date) <= 4 %>
  <div class="row">
    <%= render "./payments/discounts"%>
    <div class= "col-12 col-lg-6">
      <h3 class='text-center'>Details</h3>
      <p class='text-center'><%= number_of_nights(booking.start_date, booking.end_date) %> <%= t("nights") %>: <%= price_of_stay(booking.room.price, number_of_nights(booking.start_date, booking.end_date)) %></p>
    </div>
  </div>
<% end %>
