<script type="text/javascript">
  function showForm() {
      const form = document.getElementById('formElement')
      form.classList.toggle("d-flex")
  }
</script>
<div class="d-flex justify-content-around align-self-center">
  <button class="btn btn-link align-self-center"  style="padding-bottom: 20px" onclick="showForm()">
    <h4 class = "text-center"><strong>Create an booking</strong></h4>
  </button>
  <div id="formElement" style="display: none;", class= "justify-content-around ">
    <%= simple_form_for bookings_path, wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>
      <div class="d-flex justify-content-around mt-0">
        <%= f.input :start_date, :placeholder => "Start date", as: :string, required: true, input_html: { id: "range_start" }, class: 'mr-1'%>
        <%= f.input :end_date, :placeholder => "End date", as: :string, required: true, input_html: { id: "range_end" }, class: 'mr-1'%>
        <%= f.hidden_field :room_id, :value => room.id %>
        <%= f.submit 'Submit the dates', class: 'btn btn-primary', style: "border-radius: 1em; font-size: 16px;" %>
      </div>
    <% end %>
  </div>
</div>
