<!-- app/views/bookings/show.html.erb -->
<div class="container">
  <div class="row">
    <%= render "payements/booking_carousel", booking: @booking_preview  %>
    <div class= "col-12 col-lg-6 offset-lg-3">
      <%= render "payements/booking_details", booking: @booking_preview  %>
      <p>Estimated reply in <strong>2 business days</strong></p>
    </div>
  </div>
  <%= render "payements/number_of_nights", booking: @booking_preview  %>
  <div class='mt-5'>
  <%= link_to "/rooms" do %>
    <p class="pb-0 mb-0"><%= t("nav_room") %></p>
  <% end %>
  <%= link_to "/" do %>
    <p class="pb-0 mb-0"><%= t("nav_home") %></p>
  <% end %>
  </div>
</div>
