<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= image_tag 'leclosvaliere', style: "width:15em;", class:'gone'%>
  <div class="navbar-links">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "/admin" do %>
          <p class="pb-0 mb-0">Env Admin</p>
        <% end %>
        <div class= 'mt-1'>
          admin@example.com /
          password: password
        </div>

      </li>
      <li class="nav-item">
        <%= link_to "/" do %>
          <p class="pb-0 mb-0"><%= t("nav_home") %></p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "/rooms" do %>
          <p class="pb-0 mb-0"><%= t("nav_room") %></p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "/activities" do %>
          <p class="pb-0 mb-0"><%= t("nav_activities") %></p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_message_path do %>
          <p class="pb-0 mb-0"><%= t("nav_contact") %></p>
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "pb-0 mb-0" do%>
            <p><%= t("log_out") %></p>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "pb-0 mb-0" do %>
            <p><%= t("log_in") %></p>
          <% end %>
        </li>
      <% end %>
      <%= link_to url_for(locale: :fr), class: "lang-icon nav-item" do %>
        🇫🇷
      <% end %>
      <%= link_to url_for(locale: :en), class: "lang-icon nav-item" do %>
        🇬🇧
      <% end %>
    </ul>
  </div>
</div>
