<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= image_tag 'leclosvaliere.png', style: "width:15em;", class:'gone'%>
  <div class="navbar-links">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "/" do %>
          <p class="pb-0 mb-0"><%= t("nav_home") %></p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "/rooms" do %>
          <p class="pb-0 mb-0"><%= t("nav_room") %></p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "/activities" do %>
          <p class="pb-0 mb-0"><%= t("nav_activities") %></p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_message_path do %>
          <p class="pb-0 mb-0"><%= t("nav_contact") %></p>
        <% end %>
      </li>
      <%= link_to url_for(locale: :fr), class: "lang-icon nav-item" do %>
        🇫🇷
      <% end %>
      <%= link_to url_for(locale: :en), class: "lang-icon nav-item" do %>
        🇬🇧
      <% end %>
    </ul>
  </div>
</div>
