<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag 'leclosvaliere.png', style: "width:11em;"  %>
  <% end %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "/" do %>
          <p class="pb-0 mb-0">Acceuil</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "/rooms" do %>
          <p class="pb-0 mb-0">Nos chambres</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "/activities" do %>
          <p class="pb-0 mb-0">Activitées</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "/booking" do %>
          <p class="pb-0 mb-0">Reservez</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "/contact" do %>
          <p class="pb-0 mb-0">Contact</p>
        <% end %>
      </li>
      <%= link_to url_for(locale: :fr), class: "m-3" do %>
        🇫🇷
      <% end %>
      <%= link_to url_for(locale: :en), class: "m-3" do %>
        🇬🇧
      <% end %>
    </ul>
    <%# <%= link_to("English", "#{APP_CONFIG[:english_website_url]}#{request.env['PATH_INFO']}") %>
    <%# <%= link_to("French", "#{APP_CONFIG[:french_website_url]}#{request.env['PATH_INFO']}") %>
  </div>
</div>
