<%= render 'banner.html.erb'%>
<div class="modified_container">
  <div class="container d-flex" style="padding-top: 1em;">
    <div class="covid_card">
      <h3 class='text-center'><i class="fas fa-info-circle"></i> <%= t(".h1") %></h3>
      <p style="margin-left: 1.7em; font-size: 18px;"><%= t(".content1_html") %></p>
    </div>
  </div>
  <div class="why_us_card">
    <div class="col-md-6" id="flash-message">
      <%= render 'shared/flash' %>
    </div>
    <h2><%= t(".h2") %></h2>
      <div class= 'row'>
        <div class="col-12 col-lg-6 owl-carousel owl-theme mx-5">
          <%= image_tag "catherine-profile.jpg" %>
          <%= image_tag "gite3.jpg" %>
          <%= image_tag "gite2.jpg" %>
          <%= image_tag "gite1.jpg" %>
          <%= image_tag "jardin1.jpg" %>
          <%= image_tag "jardin2.JPG" %>
          <%= image_tag "jardin3.JPG" %>
        </div>
        <div class="col-12 col-lg-5">
          <div class='mx-5'>
            <p class='text-justify mt-5'><%= t(".content2_html") %></p>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="modified_container1">
  <div class="our_activities">
    <h2><%= t(".h3") %></h2>
    <p><%= t(".content3_html") %></p>
    <%= render "activities/activity_list" %>
  </div>
</div>
