  <%= render './activities/banner.html.erb'%>
<div class="container">
  <div class="home_card">
    <h2 class= "text-center py-3">Mesures concernant le Covid-19</h2>
    <p class = 'text-center'>Conformément à la loi en vigueur, les clients sont tous imposés de presenter leur passport à l'arrivé. <br>
      Malheureusement, tout client n'ayant pas de passeport ou ayant un passport non en règle ne pourra pas séjourner au clos Valliere. <br>
      Le remboursement dans ces derniers n'est pas possible. <br>
      Si vous avez un doute, ou des questions à ce sujet, n'hesitez surtout pas à nous contacter!</p>
  </div>
  <div class="home_card">
    <h2 class= "text-center py-3">Pourquoi nous?</h2>
    <div class= 'd-flex'>
      <%= image_tag "favicon1.png", class: 'mr-3' %>
      <p class = 'text-justify'>Au cœur de la Touraine, le Clos Vallière est une ancienne ferme rénovée où la qualité se conjugue avec convivialité. L' ouverture du gîte en 2019 marque la fin de six années de travaux et le prolongement d'une belle aventure familiale.
        Sans dénaturer l’esprit de cette maison de caractère, entre murs de pierre et boiserie, la décoration toute en délicatesse offre une ambiance moderne et chaleureuse. Marquée, elle est à notre image, tonique, colorée, authentique, chaleureuse et soignée. Nous avons à cœur de recevoir nos hôtes et partager avec vous notre passion de rencontres et d’échanges en toute convivialité.
        Dotée d’un grand extérieur, après une journée de découvertes, vous profiterez le soir venu du soleil couchant sur le jardin et l'étang arboré.</p>
    </div>
  </div>
  <div class="home_card">
    <h2 class= "text-center py-3">Les activitées que nous proposons</h2>
    <div class= 'd-flex'>
      <p class = 'text-justify'>La touraine offre une multitude d'activitées! <br>
        Autour du Clos Valliere, decouvrez les vignobles tourangeaux, les chateaux de la renaissance et du moyen-âge. <br>
        Faites un tour en montgolfière ou une balade a cheval. <br>
        Rien de tel qu'une apres midi de pêche à la proprieté pour se detendre. <br>
        Pour les enfants, nous avont des velos et des jeux d'exterieur. <br>
        Nous avons egalement une salle de jeux en interieur pour les petits comme pour les grands enfants. <br>
        Ping-pong, jeux de societé, flechettes et encore plus à découvrir. <br>
      </p>
      <%= image_tag "favicon1.png", class: 'mr-3' %>
    </div>
  </div>
  <div class="home_card">
    <h2 class= "text-center py-3">Equipement</h2>
    <h5 class= "text-justify py-3">Nous attendons de nos client un respect vis à vis du materiel, en effet il est arrivé d'avoir certain de nos équipements qui ont "Disparu" apres le depart de client précédent. Ce n'est pas seulement un manque de respect pour l'auberge mais aussi concernant les clients suivant qui n'aurons pas la même prestation. </h5>
    <div class= 'd-flex'>
      <%= image_tag "favicon1.png", class: 'mr-3' %>
      <p class = 'text-justify'>Internet Wifi (sans fil, Maison uniquement, non accessible depuis le jardin).<br>
        Salle de reception.<br>
        Chambre avec couverture et oreiller supplementaire si besoin<br>
        Cuisine tout equipé, avec lave vaisselle et refrigirateur.<br>
        Equipenent bébé dont lits parapluit pour bébé(mois de 2ans, jusqu'à 13kg).<br>
        Une remise avec machine à laver et materiel de nettoyage.<br>
        Salle de bain avec les essenciels de toilette avec serviettes incluse. </p>
    </div>
  </div>
  <div class="home_card">
    <h2 class= "text-center py-3">Services complementaires gratuits</h2>
    <div class= 'd-flex'>
      <p class = 'text-justify'>Lits parapluit pour bébé(mois de 2ans, jusqu'à 13kg).<br>
        Parking jusqu'à 15 voitures.<br>
        Aide à l'organisation du sejour et des activitées si besoin.<br>
      </p>
      <%= image_tag "favicon1.png", class: 'mr-3' %>
    </div>
  </div>
  <div class="home_card">
    <h2 class= "text-center py-3">Information complementaires</h2>
    <div class= 'd-flex'>
      <%= image_tag "favicon1.png", class: 'mr-3' %>
      <p class = 'text-justify'>Supermarché à Monnaie(4km).<br>
        Office du tourisme à Tours(18km).<br>
        Centre commerciale à Tours nord(15km).<br>
        Pharmacie à Monnaie sur la route principale(4km).<br>
        Station essence au supermarché de Monnaie(4km).<br>
        Restaurant Français(1km).<br>
      </p>
    </div>
  </div>
</div>
