<%= render 'banner.html.erb'%>
<div class="modified_container">
  <div class="container d-flex" style="padding-top: 1em;">
    <div class="covid_card">
      <h3 class='text-center'><i class="fas fa-info-circle"></i> <%= t(".h1") %></h3>
      <p style="margin-left: 1.7em; font-size: 18px;"><%= t(".content1_html") %></p>
    </div>
  </div>
  <div class="why_us_card">
    <h2><%= t(".h2") %></h2>
    <div class= 'row'>
      <div class="col-sm-12 col-xl-6 d-flex">
        <%= image_tag "favicon1.png" %>
      </div>
      <div class="col-sm-12 col-xl-6">
        <p><%= t(".content2_html") %></p>
      </div>
    </div>
  </div>
</div>
<div class="modified_container1">
  <div class="our_activities">
    <h2><%= t(".h3") %></h2>
    <p><%= t(".content3_html") %></p>
    <%= render "activities/activity_list" %>
  </div>
</div>
