<h3 class='text-center'><strong>ISSUED ON</strong> <%= booking.created_at.to_date %></h3>
<p class='ml-3'> <strong>Room :</strong> <%= booking.room.name %></p>
<p class='ml-3'><strong>From</strong> <%= booking.start_date %></p>
<p class='ml-3'><strong>Until</strong> <%= booking.end_date + 1 %></p>
<p class='ml-3'> <strong>number of nights:</strong> <%= (booking.end_date - booking.start_date).to_i + 1 %></p>
<p class='ml-3'> <strong>Price per night</strong> <%= humanized_money_with_symbol booking.room.price %></p>
<h4 class='ml-3'> <strong>TOTAL</strong> €<%= price_of_stay(booking.room.price, (booking.end_date - booking.start_date).to_i + 1) %></h4>
