<% if number_of_nights(@booking.start_date, @booking.end_date) > 7%>
  <div class="row">
    <%= render "discounts"%>
    <div class= "col-12 col-lg-6">
      <h3>Details</h3>
      <p>4 nights: <%= price_of_stay(@booking.room.price, 4) %></p>
      <p>5-6 nights: <%= price_of_stay(@booking.room.price, 6) - price_of_stay(@booking.room.price, 4) %>€</p>
      <p>7 nights: <%= price_of_stay(@booking.room.price, 7) - price_of_stay(@booking.room.price, 6) %>€</p>
      <p>after 7th night: <%= number_of_nights(@booking.start_date, @booking.end_date) - 7 %> * <%= price_of_stay(@booking.room.price, 8) - price_of_stay(@booking.room.price, 7) %>€ = <%= price_of_stay(@booking.room.price, number_of_nights(@booking.start_date, @booking.end_date)) - price_of_stay(@booking.room.price, 7) %>€</p>
    </div>
  </div>

<% elsif number_of_nights(@booking.start_date, @booking.end_date) == 7 %>
  <div class="row">
    <%= render "discounts"%>
    <div class= "col-12 col-lg-6">
      <h3>Details</h3>
      <p>4 nights: <%= price_of_stay(@booking.room.price, 4) %></p>
      <p>5-6 nights: <%= price_of_stay(@booking.room.price, 6) - price_of_stay(@booking.room.price, 4) %>€</p>
      <p>7 nights: <%= price_of_stay(@booking.room.price, 7) - price_of_stay(@booking.room.price, 6) %>€</p>
    </div>
  </div>

<% elsif number_of_nights(@booking.start_date, @booking.end_date) <= 4 %>
  <div class="row">
    <%= render "discounts"%>
    <div class= "col-12 col-lg-6">
      <h3>Details</h3>
      <p>4 nights: <%= price_of_stay(@booking.room.price, number_of_nights(@booking.start_date, @booking.end_date)) %></p>
    </div>
  </div>

<% elsif number_of_nights(@booking.start_date, @booking.end_date) <= 6 %>
  <div class="row">
    <%= render "discounts"%>
    <div class= "col-12 col-lg-6">
      <h3>Details</h3>
      <p>4 nights: <%= price_of_stay(@booking.room.price, 4) %></p>
      <% nights = number_of_nights(@booking.start_date, @booking.end_date) %>
      <p>5-6 nights: <%= price_of_stay(@booking.room.price, nights) - price_of_stay(@booking.room.price, 4) %>€</p>
    </div>
  </div>

<% end %>
