<div class="container">
  <div class="row">
    <%= render "booking_carousel", booking: @booking  %>
    <div class= "col-12 col-lg-6">
      <%= render "booking_details", booking: @booking %>
      <button id="pay" class="btn btn-primary button-pay">Pay</button>
    </div>
  </div>
  <%= render "number_of_nights", booking: @booking  %>
</div>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @booking.checkout_session_id %>'
          });
        });
      </script>
