<div class="container">
  <div class="grid1">
    <div class="d-flex justify-content-around">
      <div class= 'activity_list_card'>
        <%= image_tag "https://cdn0.iconfinder.com/data/icons/real-estate-and-homes-2/85/kitchen_interior_furniture-1024.png", class: "avatar-large" %>
        <p><%= t("kitchen")%> </p>
      </div>
    </div>
    <div class="d-flex justify-content-around">
      <div class= 'activity_list_card'>
        <%= image_tag "https://cdn2.iconfinder.com/data/icons/birthday-65/100/birthday_salute_firework_star_b-1024.png", class: "avatar-large" %>
        <p><%= t("hall") %></p>
      </div>
    </div>
  </div>
  <div class="grid1-row-two">
    <div class="d-flex justify-content-around">
      <div class= 'activity_list_card'>
        <%= image_tag "https://cdn0.iconfinder.com/data/icons/multimedia-solid-30px/30/wifi_wireless_signal_network-1024.png", class: "avatar-large" %>
        <p><%= t("wifi") %></p>
      </div>
    </div>
    <div class="d-flex justify-content-around">
      <div class= 'activity_list_card'>
        <%= image_tag "https://cdn4.iconfinder.com/data/icons/baby-essentials-7/62/blankets-sleep-nap-bedroom-bedding-1024.png", class: "avatar-large" %>
        <p><%= t("blankets") %></p>
      </div>
    </div>
  </div>
  <div class="grid1-row-two">
    <div class="d-flex justify-content-around">
      <div class= 'activity_list_card'>
        <%= image_tag "https://cdn3.iconfinder.com/data/icons/baby-icons/512/Crib-512.png", class: "avatar-large" %>
        <p><%= t("baby_bed") %></p>
      </div>
    </div>
    <div class="d-flex justify-content-around">
      <div class= 'activity_list_card'>
        <%= image_tag "https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_local_parking_48px-512.png", class: "avatar-large" %>
        <p><%= t("parking") %></p>
      </div>
    </div>
  </div>
  <div class="grid1-row-four">
    <div class="d-flex justify-content-around">
      <div class= 'activity_list_card'>
        <%= image_tag "https://cdn1.iconfinder.com/data/icons/shopping-26/48/info-1024.png", class: "avatar-large" %>
        <p><%= t("help") %></p>
      </div>
    </div>
  </div>
</div>
