<div class="sticky">
  <div>
    <div>
      <h2 class='pt-1 text-center'><%= t('table-header') %></h2>
      <h4 class='pb-1 text-center'><%= t('table-subheader') %></h4>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class='calendar-header' scope="col">2021</th>
          <th class='calendar-header' scope="col">Ronsard</th>
          <th class='calendar-header' scope="col">Rabelais</th>
          <th class='calendar-header' scope="col">Clos Valliere</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class='calendar-header' scope="row"><%= t('sept-oct2021') %></th>
          <td>210</td>
          <td>230</td>
          <td>430</td>
        </tr>
        <tr>
          <th class='calendar-header' scope="row"><%= t('winter2021') %></th>
          <td>180</td>
          <td>200</td>
          <td>370</td>
        </tr>
        <tr>
          <td colspan="4"><%= t('christmas') %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class='calendar-header' scope="col">2022</th>
          <th class='calendar-header' scope="col">Ronsard</th>
          <th class='calendar-header' scope="col">Rabelais</th>
          <th class='calendar-header' scope="col">Clos Valliere</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class='calendar-header' scope="row"><%= t('january2021') %></th>
          <td>160</td>
          <td>175</td>
          <td>320</td>
        </tr>
        <tr>
          <th class='calendar-header' scope="row"><%= t('feb-mar2021') %></th>
          <td>180</td>
          <td>200</td>
          <td>370</td>
        </tr>
        <tr>
          <th class='calendar-header' scope="row"><%= t('april-june2021') %></th>
          <td>210</td>
          <td>230</td>
          <td>430</td>
        </tr>
      </tbody>
    </table>
    <div>
      <h3 class='py-3 text-center'><%= t('renting-detail') %></h3>
      <h3 class='py-3 text-center'><%= t('discount') %></h3>
      <p class='text-center'><%= t('discounts_html') %></p>
    </div>
  </div>
</div>
