<div class="container">
  <h1>Our Rooms</h1>
  <% @rooms.each do |room| %>
    <div class ="room_card">
      <div class="row">
        <div class="col-12 col-lg-6 owl-carousel owl-theme w-100 overflow-hidden">
          <% room.images.each do |image| %>
            <div><%= image_tag image%></div>
          <% end %>
        </div>
        <div class="col-12 col-lg-6">
          <h2><%= room.name %> -- <%= room.price %>€</h2>
          <h3><%= room.ppl %></h3>
          <p><%= room.description %></p>
          <p><%= room.details %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
