<div class="row m-3">
  <div class="col-12 col-lg-9">
    <% @rooms.each do |room| %>
      <div class ="room_card <%= @rooms.first == room ? '' : 'top_border__green' %>">
        <div class="container">
          <div class="col-md-6" id="flash-message">
            <%= render 'shared/flash' %>
          </div>
          <div class="text">
            <h2 class= "text-center"><%= room&.name %></h2>
            <!--<h3 class= "text-center"><%= room.price %>€</h3>-->
            <h3 class= "text-center"><%= room&.ppl(locale) %></h3>
            <p><%= room.description(locale) %></p>
            <p><span style="font-size:30px;"><%= t(".floor1") %>:</span> <%= room.details(locale) %></p>
            <p><span style="font-size:30px;"><%= t(".floor2") %>:</span> <%= room.detailz(locale) %></p>
          </div>
          <div class="container">
            <div class="row ">
              <div class="col-12 col-lg-8  owl-carousel owl-theme">
                <% room.images.each do |image| %>
                  <div><%= cl_image_tag image&.key%></div>
                <% end %>
              </div>
              <div class="col-12 col-lg-4 mt-3" id="calendar-<%= room.name.split(' ').last.to_s %>">
                <% events = room.bookings %>
                <%= render partial: "calendar", locals: {events: events } %>
              </div>
            </div>
          </div>
        </div>
        <p class='text-center'>Payment with stripe on Test mode for now.</p>
        <%= render partial: "booking_attempts/new", locals: {room: room, booking: @booking} %>
      </div>
    <% end %>
  </div>
  <div class="col-12 col-lg-3">
    <%= render partial: "table" %>
  </div>
</div>
<div class="modified_container1">
  <div class="our_activities">
    <h2><%= t(".h4") %></h2>
    <!-- <p class='text-center'><%= t(".request_html") %></p>-->
    <p><%= t(".content4_html") %></p>
    <%= render "rooms/equipment_list" %>
  </div>
</div>
