<div class="activity-card">
  <h2 class = 'text-center'><%= activity.name %></h2>
  <div class="d-flex">
    <%= cl_image_tag activity.image.key, class: 'activity-img' %>
    <div>
      <% if activity.price != '' %>
        <p>Prix:<%= activity.price %>€.</p>
      <% end %>
      <% if activity.phone != '' %>
        <p><%= activity.phone %></p>
      <% end %>
      <% if activity.distance != '' %>
        <p>A <%= activity.distance %> du gîte.</p>
      <% end %>
    </div>
  </div>
</div>
