<!-- Modal -->
<div class="modal fade" id="exampleModalCenter-<%= activity.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-size">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title">
          <%= cl_image_tag activity.image.key, class: 'modal-img' %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= link_to activity.url do %>
          <h2 class='modal-title'><%= activity.name(locale) %></h2>
        <% end %>
        <p id= 'modal-description'><%= activity.description(locale) %></p>
        <div class="d-flex justify-content-between">
          <% if activity.distance != '' %>
            <p><%= activity.distance %> <%= t('distance') %>.</p>
          <% end %>
          <% if activity.price != '' %>
            <p>Prix:<%= activity.price %>€.</p>
          <% end %>
        </div>
        <div class="d-flex justify-content-between">
          <% if activity.address != '' %>
            <p><%= activity.address %></p>
          <% end %>
          <% if activity.phone != '' %>
            <p><%= activity.phone %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
